.event-list {
  padding: 2em;
  background: color(black alpha(10%));
  max-width: 40%;
  .event {
    padding-bottom: 1.5em;
    margin-bottom: 1em;
    border-bottom: 2px solid color(white alpha(30%));
  }

  .badge {
    display: inline-block;
    padding: 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    background-color: color(black alpha(10%))
  }

  .name {
    margin-bottom: 0.25em;
    font-size: 24px;
  }

}
