@import 'variables.css';

.App {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100vw;
  height: 100vh;
  color: white;
  transition: background-color .5s;

  &.free {
    background-color: var(--free);
  }

  &.busy {
    background-color: var(--busy);
  }

}
